
      <ul class="group">
        <li><a href="https://twitter.com/idea_ninja"><img class="icon" src="images/socialmedia/twitter.png" alt="twitter idea ninja" /></a></li>
        <li><a href="https://www.facebook.com/IdeaNinja.io"><img class="icon" src="images/socialmedia/facebook.png" alt="facebook idea ninja" /></a></li>

        <li><a href="https://www.youtube.com/channel/UCsCPC0CjOZy4CRuNMvQp-kQ"><img class="icon" src="images/socialmedia/youtube.png" alt="icon for youtube" /></a></li>

       <li><a href="https://linkedin.com/company/idea-ninja"><img class="icon" src="images/socialmedia/linkedin.png" alt="linkedin idea ninja" /></a></li>
      </ul>
    </div>
    <div id="terms">
      <p>
      <a href="termsofservice.html" target="blank"> Terms of Service</a>
      &nbsp|&nbsp  
      <a href="policyprivacy.html" target="blank"> Privacy Policy</a>
      </p>
      <p>Copyright 2015 - Idea Ninja, Unipessoal Lda</p>
    </div>
  </article>
</footer>

    <% if(typeof script !== 'undefined') { %>
        <script src="<%= script %>"></script>
    <% } else { %>
        <script src="js/script.js?abc"></script>
    <% } %>
