    <nav id="nav">
      <div class="navbar">
        <div class="brand"><a href="index.html#bodyhome">Idea<span>Ninja</span></a></div>
        <ul>
          <li><a class="startup tools" href="tools.html"><span>Tools</span></a></li>
          <li><a class="startup articles" href="articles.html"><span>Articles</span></a></li>
          <li><a class="startup services" href="services.html"><span>Services</span></a></li>
          <li><a class="startup about" href="about.html"><span>About Us</span></a></li>
          <li><a class="startup contactus" href="contactus.html"><span>Contact Us</span></a></li>
        </ul>
      </div><!-- navbar -->
    </nav>