
</div>

<!--
</section>
</articles>
-->
<div class="scene" id="artslider">
  <div class="slidernav">
    
    <div class="leftslider">
      <img id="subtractarrow" src="images\icons\arrow_selector_left.png">
      </div>
    
    <div id="progressor">
          <div id="pbar">
      
           </div>
    </div>

  <div class="rightslider">
    <img id="addarrow" src="images\icons\arrow_selector_right.png">
    </div>

  </div>
  <div class="slider">

    <div class="articleslots">
      
      <div class="artslot" id="artslot1">
        <a id="anchor1" href=""><img id="img1" class="object-fit_fill" src=""></a>
        <a id="2anchor1"href=""><h2 id="tit1"></h2></a>
        <div class="slidedesc">
          <p id="par1"></p>
          <p>Tags:<span id="tags1"></span></p>
          </div>
        </div>
      
      <div class="artslot" id="artslot2">
        <a  id="anchor2" href=""><img id="img2" class="object-fit_fill" src=""></a>
        <a  id="2anchor2" href=""><h2 id="tit2"></h2></a>
        <div class="slidedesc">
          <p id="par2"></p>
          <p>Tags:<span id="tags2"></span></p>
          </div>
        </div>
      
      <div class="artslot" id="artslot3">
        <a  id="anchor3" href=""><img id="img3" class="object-fit_fill" src=""></a>
        <a  id="2anchor3"href=""><h2 id="tit3"></h2></a>
        <div class="slidedesc">
          <p id="par3"></p>
          <p>Tags: <span id="tags3"></span></p>
          </div>
        </div>
      
      <!--
      <div class="artslot">
        <a  id="anchor4" href=""><img id="img4" src=""></a>
        <a id="2anchor4" href=""><h2 id="tit4"></h2></a>
        <p id="par4"></p>
        <p>Tags:<span id="tags4"></span></p>
        </div> 
      -->

      </div>   



    </div>

</div>




  <div class="scene" id="bodyhome">
