<div id="topPicks"> 
       <h2> Top Content </h2>
        <ul>
        	<li><a href="basics_seo.html">Basics of SEO</a></li>
        	<li><a href="how_improve_facebook_post_reach.html">How to improve your facebook post's reach</a></li>
	     	<li><a href="basics_of_accounting_for_entrepreneurs.html">Basics of accounting for Entrepreneurs</a></li>
	     	<li><a href="automatic_pitch_machine.html">Automatic Pitch Machine</a></li>
	     	<li><a href="article-writing-tool.html">Article Writer Tool</a></li>
	      	<li><a href="performance-why-use-CDN.html">Website performance and why should you use a CDN</a></li>
	     	<li><a href="perfect_pitch.html">Perfect Pitch</a></li>
	     	<li><a href="how_to_value_business_idea.html">How to value Business Ideas</a></li>
	      	<li><a href="Improve-your-website-design-free-photos.html">Improve your website design with free photos</a></li>
        </ul>
      </div>