<div class="article_title">
	<h2><%= title %></h2>
    <div>
      <blockquote><strong>Author: </strong> <%= author %> <br>
      <strong>Updated at: </strong><%= modified_time %> <br>
      <strong>Tags: </strong> <%= tags %> </blockquote>
	</div>
</div> <!--article_title-->

<!--
	##### variables ####
	title
	author
	modified_time
	tags
	-->