        <div class="fixed-action-btn">
          <a class="btn-floating btn-large secondary-color ">
            <i class="large material-icons">share</i>
          </a>
          <ul>
            <li><a href="https://www.facebook.com/dialog/share?href=https%3A%2F%2Fideaninja.io<%= href %>&app_id=1575052359489385" target="blank" class="btn-floating "><img class="vertical_soc_share"  src="images\socialmedia\facebook.png" alt="facebook"></a></li>
            <li><a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fideaninja.io/<%= href %>" target="blank"class="btn-floating "><img class="vertical_soc_share" src="images\socialmedia\twitter.png" alt="twitter"></a></li>
            <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fideaninja.io/<%= href %>" class="btn-floating"><img class="vertical_soc_share" src="images\socialmedia\linkedin.png" alt="linkedin"></a></li>
          </ul>
        </div><!--fixed-action-btn-->
        <!-- 
        href
        -->