<div class="fixed-action-btn">
          <a class="btn-floating btn-large secondary-color ">
            <i class="large material-icons">add</i>
          </a>
          <ul>
            <li><a href="contactus.html" >
              <i class="material-icons">call</i>
              Schedule Call</a></li>
            <li><a href="mailto:contactus@ideaninja.io"> 
              <i class="material-icons">email</i>
              Send Email
            </a></li>
            <li><a href="http://www.hotmail.msn.com/secure/start?action=compose&to=contactus@ideaninja.io">
              <i class="material-icons">email</i>
              Send Hotmail
            </a></li>
            <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=contactus@ideaninja.io ">
              <i class="material-icons">email</i>
              Send Gmail
              </a>
            </li>
          </ul>
        </div><!--fixed-action-btn-->
