<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Subscribe to our Social Networks</h5>
              <a href="https://www.facebook.com/IdeaNinja.io" rel="nofollow" target="blank"><img class="socialfooter"src="images\socialmedia\facebook.png" alt="facebook social" ></a>
              <a href="https://twitter.com/idea_ninja" rel="nofollow" target="blank"><img class="socialfooter"src="images\socialmedia\twitter.png" alt="twitter social"></a>
              <a href="https://www.youtube.com/channel/UCsCPC0CjOZy4CRuNMvQp-kQ" rel="nofollow" target="blank"><img src="images\socialmedia\youtube.png" alt="youtube social" class="socialfooter"></a>
              <a href="https://linkedin.com/company/idea-ninja" rel="nofollow" target="blank"><img src="images\socialmedia\linkedin.png" alt="linkedin social" class="socialfooter"></a>
            </div>
            <div class="col l3 s6">
              <h5 class="white-text">Legal Stuff</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="terms_of_service.html">Terms of Service</a></li>
                <li><a class="grey-text text-lighten-3" href="privacy_policy.html">Privacy Policy</a></li>
                </ul>
              </div>
            <div class="col l3 s6">
              <h5 class="white-text">Other Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="about.html">About Us</a></li>
                <li><a class="grey-text text-lighten-3" href="services.html">Services</a></li>
                <li><a class="grey-text text-lighten-3" href="publishing_guidelines.html">Publishing Guidelines</a></li>
                <li><a class="grey-text text-lighten-3" href="contactus.html">Contact Us</a></li>
                </ul>
              </div>
           </div>
         </div>

          <div class="footer-copyright">
            <div class="container">
            © 2015 - Idea Ninja, Unipessoal, Lda
            </div>
          </div>
        </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="/js/script.js"></script>