 <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">
       
         <img src="./images/logo/Final_Original_new.png" alt="Entrepreneur Dojo" id="logo_navbar"> 
           <!--<img src="./images/logo/logo_solo_navbar.png" alt="Idea Ninja" id="logo_solo_navbar"> -->
       </a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons" id="mmenu">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <form action="" id="search">
              <div class="input-field">
                <input  type="search" required id="searchinput">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </li>
        </ul>
        <ul class="side-nav" id="nav-mobile">
          <li> 
            <a>
              <form id="searchmobile" action="">
                <input  type="text" placeholder="Search" id="searchmobileinput" >
              </form>
            </a>
          </li>
          <li><a href="services.html">Services</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="contactus.html">Contact Us</a></li>
        </ul>
      </div>
    </nav>