@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,600,800);

@include border-box-sizing; //uses border box sizing like the old IE

$susy: (
  columns: 12,
  container: 62em,
  gutters: 1/4,
  gutter-position: inside
);

$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;


//Add Color Palette
$blue       :#424242;
$green      :#b3b3b3;
$yellow     :#f0f0f0;
$orange     :#e3e3e3;
$red        :#d9d9d9;
$pink       :#cccccc;
$purple     :#c4c4c4;
$dark       :#000000;
$light      :#FFFFFF;

$backgroundColor    : $light;
$typeDefault        : $dark;
$navBackground      : $blue;
$navForeground      : $light;
$navHover           : $yellow;
$navBrandBg         : $red;
$headersubbg        : $dark;

//Font variables
$fontfamily       : 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$thin     : 200;
$normal   : 400;
$bold     : 600;
$heavy    : 800;

$headFont   : $thin 1.5em/1.5em $fontfamily;
$mainFont   : $thin 1em/1.5em $fontfamily;
$headColor  : lighten($blue, 20);

