#contact_form{

	#name, #email, #msg{
		@include span(12); 
		margin-bottom: 10px; 
		@include breakpoint($small) {		
			font-family : inherit;
			@include span(9);
		  	font-size   : 100%;
		  	margin-top: 1em;
		  	margin-right: 8%;
		}
	}//name, email, msg

	label {
		@include span(12); 
		@include breakpoint($small) {	
			@include span(2);
			margin-top: 1em;
			font:bold;
		}
	}//label

	#submit{
		@include span(isolate 8 at 2);

		@include breakpoint($small) {	
			/*float: right;*/
			@include span(isolate 9 at 1);
		}
	}//submit	
}//contact_form