header {
  .fullheight {
    @include backImage('/images/main/homesplash.jpg');

    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    .hgroup {
      padding: 100px 0;

      h1 {
        color: $light;
        font-size: 5em;
        font-weight: $heavy;
        line-height: .8em;
        @include text-shadow($dark 0 0 20px);
        text-align: center;
      } //h1

      h2 {
        display: block;
        color: $light;
        width: 80%;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid $light; 
/*        border: 1px solid $light; 
        background: rgba($headersubbg, .5);
        */margin-top: 15px;
        padding: 10px;
        font-size: 1.3em;
      } //h2

      p {
        text-align: center;
        img {
          padding-top: 30px;
          max-width: 50px;
        } //img
      } //p
    } //hgroup
  } //fullheight
} //header