#bodyhome {
  
  h1, h2 {
    color: $red;
    padding: 10px 0;
  } //headings
      #articleblock{
          
        img{
          padding-top: 30px; 
          max-width: 80px;
          padding-right: 10px;
          @include span(2);
        }//img

        #articlebody{
          padding-top: 10px; 
          
          p{
          text-align: justify;
          font-weight: $normal;
          line-height:200%;
          }//p

          #articleimg{
            padding:20px;
            max-width: 100%;
            @include span(12);
          }//articleimg
  
          ul {
            list-style-position: inside;
            list-style:disc;
            padding-left: 30px; 
          }//ul

        }//articlebody
       

      }//articleblock
      #toprow {
          display: inline-block;
          @include span (12);

        #topPicks {
          ul {
            list-style-position: inside;
            font-size: 1em;
            line-height: 1.5em;
            line-height:200%;
            list-style-image: url(../images/icons/awardbullet_black.png);
            padding-left: 15px; 
            padding-top: 10px; 
          }//ul
        }//topPicks
    }//toprow

  #homesections {
    section{
      padding-left: 40px; 
      padding-right: 40px;
        }//section
  img{
    width: 50%;
    @include border-radius(20%);
    padding-top: 20px; 
        }//img

     p{
    text-align: justify;
    font-weight: $normal;
        }//p
  }//homesections
  
   #contactus {
    margin-top: 20px;
    @include pad(1,1);
    text-align: center;
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
  }//contactus

  #horizontal {
    margin-top: 20px;
    text-align: justify;
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
    
    img{
      max-width: 60px;
      padding-right: 10px;
      padding-bottom: 10px;
      @include span(2);
    }//img

    #shortdesc{
      @include span (10);
    }//shortdesc

  }//horizontal

    #contributor {
    margin-top: 20px;
    text-align: justify;
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
    
    img{
      max-width: 80px;
      padding-right: 10px;
      padding-bottom: 10px;
      @include span(2);
    }//img

    #shortdesc{
      @include span (10);
      color:$dark;
    }//shortdesc

  }//horizontal

 @include breakpoint($small) {
    #firsthomeblock {
      margin-bottom: 30px;

      h1 {
        font-weight: $thin;
        font-size: 2.5em;
      } //h1

      p {
        font-size: 1.5em;
        line-height: 140%;
        @include span(8);
      } //p
      
      #topPicks {
          background: $red;
          padding:10px 30px 30px 50px;
          @include border-radius(10px);
          @include span(4);
          float:right;
          
        h2 {
          color: $dark;
          text-align: left;
          border-bottom: 3px;
          border-style: solid;
          border-color: $light;
          text-align: center;
          }//h2
          
          ul {
          list-style-image: url(../images/icons/awardbullet_white.png);
            }//ul

      }//topPicks

    } //firsthomeblock

    section {
      @include span(4 of 12);

      h2 {
        font-size: 1.2em;
        line-height: 120%;
        color: $pink;
      }
      p {
        padding-top: 10px;
        font-size: 1em;
        line-height: 130%;
      }//P
    }
  } //breakpoint


} //bodyhome