
.divide {
  @include span (12); 
  padding-top: 20px; 
  padding-bottom: 20px;
}//divide

#article_med_img{
  @include span(6);
  margin-left:25%;
  margin-right:25%;
}//article_med_img

#halfimage{
  position: relative;
  float: right;
  margin:20px;
  max-width: 25%;
}//halfimage

  #art_serv {
    /*padding-top: 40px;*/
    .servs{
      width: 90%;
      padding-left: 5%; 
      .serv_image {
        @include span(12);
        @include breakpoint($small) {
          @include span(6); 
          }//breakpointsmall
        }//serv_image


    }//servs
  }//art_serv


  button {
    @include span(3);
    margin: 1em 8% 1em 0;
    font-weight: bold;
    border-radius: 5px;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    padding: 6px 12px;
    background-color: $purple;
    color: $light ;
    }//button


   ol {
       list-style-type: decimal;
       list-style:disc;
       padding-left: 30px;
     }//ol

#bodyhome {

  h1, h2, h3 {
    color:  $headColor;
    padding: 10px 0;
       a{
      color: $headColor;
      text-decoration: none;
      font-weight: $bold;
    }//a

  } //headings



      #articleblock{

      /*  img{
          padding-top: 30px;
          max-width: 80px;
          padding-right: 10px;
          @include span(2);
        }//img
*/
        #articlebody{
          padding-top: 10px;

          p{
          text-align: justify;
          font-weight: $normal;
          line-height:200%;
          }//p

        .out_vid {
          width: 100%;
          margin-bottom: 10px; 
          margin-top: 10px;
          .art_vid {
            position: relative;
            height: 0px;
            padding-bottom: 56%;

            .vid {
              position: absolute;
              top: 0;
              left: 0;
              width:100%;
              height:100%;

            } //vid
          }//art_vid
        }//out_vid


          #articleimg{
            padding:20px;
            max-width: 100%;
            @include span(12);
          }//articleimg

          ul {
            list-style-position: inside;
            list-style:disc;
            padding-left: 30px;
          }//ul



          a{
            color: $headColor;
            text-decoration: none;
            font-weight: $bold;
          }//a

          a:hover{
            color: $typeDefault;
          }

        }//articlebody


      }//articleblock

      #toprow {
          display: inline-block;
          @include span (12);

        #topPicks {
          ul {
            list-style-position: inside;
            font-size: 1em;
            line-height: 2.5em;
            /*line-height:200%;*/
            list-style-image: url(../images/icons/awardbullet_black.png);
            padding-left: 15px;
            padding-top: 10px;
          }//ul

          a {
            text-decoration: none;
          }

          a:hover {color: $typeDefault;
          } //a:hover

        }//topPicks
    }//toprow

  #homesections {
    section{
      padding-left: 40px;
      padding-right: 40px;
        }//section
  img{
    width: 50%;
    @include border-radius(20%);
    padding-top: 20px;
        }//img

     p{
    text-align: justify;
    font-weight: $normal;
        }//p

    h2 {
      padding-top: 40px;
      }//h2
    ul{
      padding-top: 10px;
      list-style-type: circle;
    }//h2

   a{
      color: $headColor;
      text-decoration: none;
      font-weight: $bold;
    }//a

    a:hover {color: $typeDefault;
     }//a:hover

  }//homesections

   #contactus {
    margin-top: 20px;
    @include pad(1,1);
    text-align: center;
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;

    a{
      color: $headColor;
      text-decoration: none;
      font-weight: $bold;
    }//a

    a:hover {color: $typeDefault;
     }//a:hover

  }//contactus

  #horizontal {
    margin-top: 20px;
    text-align: justify;
    border-top: 1px solid $red;
    /*border-bottom: 1px solid $red;*/

    img{
      max-width: 60px;
      padding-right: 10px;
      padding-bottom: 10px;
      @include span(2);
    }//img

    a{
      color: $headColor;
      text-decoration: none;
      font-weight: $bold;
    }//a

    a:hover {
      color: $typeDefault;
     }//a:hover

    #shortdesc{
      @include span (10);
    }//shortdesc

  }//horizontal

    #contributor {
      margin-top: 20px;
      text-align: justify;
      border-top: 1px solid $red;
      /*border-bottom: 1px solid $red;*/
      font-size: 80%;

    img{
      max-width: 80px;
      padding-right: 10px;
      padding-bottom: 10px;
      @include span(2);
    }//img

    #shortdesc{
      @include span (10);
      color:$dark;
    }//shortdesc

  }//contributor

  #art_serv {
    a{
      color: #a8a8a8;
      text-decoration: none;
      font-weight: 700;
    }//a
    ul{
      list-style-type: circle;
      -webkit-margin-start:40px;
    }//ul
  }//art_serv

} //bodyhome