
.pitch {
  display: table;
  position: relative;
	margin: 5px;
  width: 100%;

	.checkbox{
    display: table-cell;
		border-style: solid;
		border-width: 1px;
		border-color: $orange;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		background-color: $yellow;
		padding: 5px;
    width: 40px;
	}//checkbox

	.pitchpreview {
    display: table-cell;
		border-style: solid;
		border-width: 1px;
		border-color: $orange;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		padding: 5px;

    button {
      width: 100%;
    } // button

  }//pitchpreview 


		@include breakpoint($small) {
			p{
				font-size: 12px;
				padding-bottom: 1px;
				}//p
    }//small
}//pitch  



.panel-body {
  label {
    padding-top: 5px; 
    @include span(12); 
  }
  input {
    @include span(12); 
  }
  p {
    padding-top: 5px; 
  }
 .benefit_table{
    @include span(12);
    margin-top: 14px;
    margin-bottom: 14px;

    label {
    @include span(6);
    margin-top: 14px;
    margin-bottom: 14px;
    }
    input {
    @include span(6);
    margin-top: 14px;
    }
    .ben {
      display: none; 
    }
    .vs {
      display: none; 
    }
  }  
}