#serv_example{
	a{
	color: #a41505;
	text-decoration: none;
	}//a
}//serv_example

#service_form {
	padding: 20px; 
	label {

	}//label
	
	input{
		@include span(12);
		line-height: 1em;
		margin-bottom: 10px;
	}//

	select{
		@include span(12);
		line-height:1em;
		margin-bottom: 10px;
	}//Select

	textarea{
		@include span(12);
		line-height:1em;
		margin-bottom: 10px;
	}//

	submit{
		float: right;
		
	}//submit
}//serviceform

.know-button{
	background-color:transparent;
	display:inline-block; /* para esconder entretanto depois fica display inline block*/
	color: #a41505;
	border-style: solid;
	border-width: 1px; 
	border-color: #a41505; 
	float: right;
	width: 120px;
	height: 30px;
	margin-right: 50px; 
}//know-button

.qa{
	margin-bottom: 10px; 
}//qa

#bodyhome #articleblock #articlebody{
	.quote{
		padding-top: 10px; 
		padding-bottom: 10px;
		padding-right: 50px; 
		padding-left: 50px;
		text-align: center; 
		
	}//quote
}//articleblock 

.service-icons{
	float: left;
	display: inline-block; 
	height: 36px;
	width: 36px;
	margin-right: 15px;
}//service-icons

.service{
	display: inline-block;
	@include span(12); 
	margin-bottom: 20px;
	margin-top: 20px; 
}


#bodyhome #articleblock{
	.nodecor{
			text-decoration: none; 
			p{
				color: $typeDefault; 	
				}//p
		}//nodecor

	.servdesc{
		@include span(12); 
		}//servdesc
	.calltoaction{	
		@include span(12); 
		margin-bottom: 30px;
		
		a{
		color: #a41505;
		text-decoration: none; 
		}

		p{
			display: inline-block;
			text-align: center; 
			@include span(isolate 4 at 4 of 12);
			margin-bottom:20px;
			@include breakpoint($small) {
				margin-right: 33%;
				margin-left: 33%;
				}
		}//p
		button{
			@include span(isolate 8 at 2 of 12);
			display: inline-block;
			color: #a41505;
			border-style: solid;
			border-width: 1px; 
			border-color: #a41505; 
			background-color:transparent;
			font-size: 1em;
			margin-top: 20px;
			margin-bottom: 2px;
			
			@include breakpoint($small) {
				width: 30%;
				margin-right: 33%;
				margin-left: 33%;
				display: inline-block;
				color: #a41505;
				border-style: solid;
				border-width: 1px; 
				border-color: #a41505; 
				background-color:transparent;
				font-size: 1em;
				margin-top: 20px;
				margin-bottom: 2px;
			}
		}
	}//calltoaction

	.servicerow{
		@include span(12);
		display: inline-block;
		.fourservices{
			/*@include span(6); */

			.headingserv{
				color:#a41505 ;
				border-bottom: 2px solid #a41505; 
				padding-bottom: 0px;
				margin-bottom: 10px; 
			}//headingserv

		}//fourservices

		.left{
			@include span(isolate 4 at 2 of 12); 
		}//left

		.right{
			@include span(isolate 4 at 7 of 12); 
		}//left

		.oddservice{
			@include span(isolate 4 at 4 of 12);
			text-align: center
		}//oddservice
}//servicerow
}

.service_group{
	margin-top: 40px; 
	}//service_groups

.packs{display: flow-root;
		margin-bottom: 20px;}

.package_services{
	@include breakpoint($small){
	width: 30%;
	}
	width: 90%; 
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	border-color: $green;
	border-radius: 5px;
	margin: 10px;
	padding: 5px; 
  	box-shadow: 3px 3px 5px 6px #ccc;
	.title{
		@include span(6);
	}
	.package_desc{
		@include span(6);
		.package_desc_p {
			font-size: 0.75em;
			
		}
	}
}

.serv{
	display: flow-root;
	margin-bottom: 20px; 
}

.serv_list{
	@include breakpoint($small) {
		width: 22%;
	}//small
	width:90%; 
	border-width: 2px;
	border-style: solid;
	border-color: $green;
	display: inline-grid;
	border-radius: 5px;
	margin: 10px;
	padding: 5px; 
	height: 125px;

	span{
		font-size: 1em; 
		color: black;
		margin-bottom: 10px;
		margin-top: 10px;
		text-align: center;
		}//span
	desc{
		margin: 4px;
		font-size: 0.7em;
		line-height: 150%;
		text-align: justify;
		}//desc
	}

.serv_box{
	@include breakpoint($small) {
	width: 30%;
	}//small
	width: 90%; 
	display: inline-grid;
	border-width: 2px;
	border-style: solid;
	border-color: $green;
	border-radius: 5px;
	margin: 10px;
	padding: 5px; 
  	box-shadow: 3px 3px 5px 6px #ccc;
  	height: 220px;

  	span{
		font-size: 1em; 
		color: black;
		margin-bottom: 10px;
		margin-top: 10px;
		text-align: center;
		}//span

	desc{
		margin: 4px;
		font-size: 0.7em;
		line-height: 150%;
		text-align: justify;
		}//desc

	price{
		text-align: center;
		}//price

	}//serv_box

.spaced_list {
	line-height: 150%;
}



.marketingplan_table {
	
	.servheader{
		/*background-color: $green;*/
			border-width: 2px;
			border-bottom-style: solid;
			border-color: $green;

		
		.list_head{
			@include span(3);
			}//list_head
		.fullreview_head{
			@include span(3);
			text-align: center;
			}
		.shortreview_head{
			@include span(3);
			text-align: center;
			}
		.mentoring_head{
			@include span(3);
			text-align: center;
			}
	}
	.servbody{

		.list{
			@include span(3);
			border-width: 1px;
			border-right-style: solid;
			border-color: $green;

			.list_element{	
				span {font-size: 1em; 
				color: black;
				}//span
				p{font-size: 0.5em}//p
			}
		}
		.cont{
			p{
			text-align: center;
			/*-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
			*/
			}
			.fullreview_cont{
				@include span(3);
				background-color: $green;
				}
			.shortreview_cont{
				@include span(3);
				}
			.mentoring_cont{
				@include span(3);
				background-color: $green;
				}
		}
	}
}