
<form id="contact_form">
  <fieldset>

    <!-- Text input-->
    <div>
      <label for="name">Name</label>  
      <div >
      <input id="name" name="name" type="text" autocomplete= "on" placeholder="Enter your full name here" required="">
      </div>
    </div>

    <!-- Text input-->
    <div>
      <label for="email">Email</label>  
      <div>
      <input  id="email" name="email" type="text" autocomplete= "on" placeholder="Enter your email address here" required="">
      </div>
    </div>

    <!-- Textarea -->
    <div>
      <label for="msg">Message</label>
      <div>                     
        <textarea id="msg" name="msg" cols="6" rows="6"></textarea>
      </div>
    </div>

    <!-- Button -->
    <div>
      <label for="submit"></label>
      <div >
        <button id="submit" name="submit">Send Message</button>
      </div>
    </div>

  </fieldset>
</form>