    <nav id="nav">
      <div class="navbar">
        <div class="brand"><a href="index.html#bodyhome">Idea <span>Ninja</span></a></div>
        <ul>
          <li><a class="icon tools" href="tools.html"><span>Tools</span></a></li>
          <li><a class="icon resources" href="resources.html"><span>Resources</span></a></li>
          <li><a class="icon opinions" href="opinions.html"><span>Opinions</span></a></li>
          <li><a class="icon contributors" href="contributors.html"><span>Contributors</span></a></li>
          <li><a class="icon contactus" href="contactus.html"><span>Contact Us</span></a></li>
        </ul>
      </div><!-- navbar -->
    </nav>