<div id="topPicks"> 
       <h2> Top Content </h2>
        <ul>
          <li><a href="put_adult_in_the_house.html">Put adult in the house</a></li>
          <li><a href="idea-ninja-template-available.html">Idea Ninja template available</a></li>
          <li><a href="free-hosting-find-out-how.html">Free Hosting! Find out how</a></li>
          <li><a href="idea-ninja-official-website-is-live.html">Idea Ninja official website is live</a></li>
        </ul>
      </div>