<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Idea Ninja</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%- partial("_googleanalytics") %>
</head>
<body>
  <header id="intro">
    </article>
    <%- partial("_nav")%>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="articleblock">
      <h1>Idea Ninja template available</h1>
    <div>
      <img src="images/avatars/MTavatar.jpeg"><br>
      <p id="author">Author: Miguel Teixeira <br>
      April 2015 <br>
      Tags: Editorial </p>
    </div>
    <div id="articlebody">
      <p>Idea Ninja has made its site template available to you, so you can use it and abuse it. You can download it, trunk it, review it and add more features.</p>
      <p>From the get-go Ideaninja shares its template to you. This template is a living organism, it will evolve as the site evolves and all will continue to be shared.</p>
      <p>You can find it <a href ="https://github.com/mgteixeira/IdeaNinja_template/tree/master">here</a> You can download it freely, trunk it, make it evolve.</p> 
      <p>This template was initial developed using Gulp with Compass, Susy and Breakpoint among others.</p>
          </div>
    </article>
              <%- partial("_contactus")%>
  </div><!-- bodyhome -->
</main>
  <%- partial ("_footer") %>
</body>
</html>
