<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Idea Ninja</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%- partial("_googleanalytics") %>
</head>
<body>
  <header id="intro">
    </article>
    <%- partial("_nav")%>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="articleblock">
      <h1>Idea Ninja official website is live</h1>
    <div>
      <img src="images/avatars/MTavatar.jpeg"><br>
      <p id="author">Author: Miguel Teixeira <br>
      April 2015 <br>
      Tags: Editorial </p>
    </div>
    <div id="articlebody">
      <p> Idea Ninja, the Entrepreneur Dojo, went live on 1st of April 2015.  ideaninja.io was created to address common obstacles found in the process of creating a business. We will help you execute by sharing through ideaninja.io how-to articles, resources found on the web and tools we developed. We will also show you different approaches to overcome obstacles found along the way. </p>
      <p> From as early as defining problems or developing ideas, turning them into concepts and evolving them to new  approaches to implementation there are a ton of obstacles that we need to surpass. Idea Ninja will share with you some of the problems and solutions we implemented. The goal is to use our collective experience to help you avoid or surpass the day to day hindrances you find while creating your venture.</p>
      <p> Please gives as feedback so we can improve. Ask for articles, how-to or tools you need and share your experiences. This is community driven effort so your contribution is essential for this project. You can currently contribute by sending an email and sharing your thoughts. So please give us your input and share this article with your friends.</p>
    </div>
    </article>
              <%- partial("_contactus")%>
  </div><!-- bodyhome -->
</main>
   <%- partial ("_footer") %>
</body>
</html>
