<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Idea Ninja</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%- partial("_googleanalytics") %>
</head>
<body>
  <header id="intro">
    </article>
    <%- partial("_nav")%>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="articleblock">
      <h1>Put adult in the house</h1>
    <div>
      <img src="images/avatars/MTavatar.jpeg"><br>
      <p id="author">Author: Miguel Teixeira <br>
      April 2015 <br>
      Tags: Knowledge </p>
    </div>
    <div id="articlebody">
      <p> The challenge of creating a company can be daunting. You will find tasks where you will need some guidance.  Find mentors, identify the skills you need to develop and get adult supervision AKA mentor.</p>
      <p> In a start-up there are many hats you need to fill in. Product Management, Marketing, Software Development, HR or Webdesign are some of the examples. Most probably you will find areas where you are not an expert, but due to cost restrictions you must tackle it yourself. </p>
      <p> To tackle a new area of knowledge is filled with hurdles. But, as always, there are a ton of resources online that will explain you how to do it. The problem is finding the one you need in the midst of so much clutter... in other words you need help to navigate through the pile of garbage to find your gem.</p>
      <p>Enter the adult. An adult might be a friend, a former coworker someone you can ask for directions and will put you in the right track.</p>
      <p>It might be the case that you do not have the luck of having someone that you can contact to help you find a way to navigate you through the hurdles. In that case can pay for online training. The right training can cost you as little as 25$ and it can be worth gold or enter a mentoring program.</p>
      <p> “Real knowledge is to know the extent of one's ignorance.”, Confucious</p>
      <p>When tackling a new theme or area of knowledge it is hard to clearly identify what your problems will be. So trying to anticipate them won't be a precise task, but you should do it anyway and contact your “adult” as soon as possible to clarify doubts and most importantly give you a framework to use.</p>
      <p>Summing up. While creating a start-up you will find many new challenges. Several of those challenges will be new areas of knowledge. To steepen the learning curve get a mentor, an adult. Try to come up with questions and themes as early as you can and pick the adult's brain as best as you can. Most importantly get in the right path. It will save you a ton of pain.</p>
    </div>
    </article>
              <%- partial("_contactus")%>
  </div><!-- bodyhome -->
</main>
   <%- partial ("_footer") %>
</body>
</html>
