<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Idea Ninja - 404 Page</title>
  <link rel="stylesheet" href="css/style.css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <%- include partials/_googleanalytics.ejs %>
  <link rel="stylesheet" href="css/style.css"/>
      <%- include partials/_favicon.ejs %>
</head>
<body> 
  <header id="intro">
  </header>
<main id="wrapper">
<div class="scene" id="bodyhome">
  <article id="articleblock">
  <img src="images/icons/favicon.ico" alt="idea ninja">
  <h1>404 Page</h1>
  <p> This page does not exist. To return to IdeaNinja click <a href="index.html">here </a></p>
  </article>
  </div><!-- bodyhome -->
</main>
 <footer class="scene">
  <article class="content">
    <div id="socialmedia">
  <%- include partials/_footer %>
</body>
</html>
