
          <div class="col s12 m6 feed">
              <div class="card">
                <div class="card-image">
                  <div class="video-container" ><iframe src="https://www.youtube.com/embed/U2peb27Na-s" frameborder="0" allowfullscreen></iframe></div>           
                  </div>
                  <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                    </div>
                </div>
          </div>