
   <!-- <div class="fullrow card">-->
        
          <div class="col s12 m4 feed">
              <div class="card medium">
                <div class="card-image">
                  <div class="video-container " ><iframe class="materialboxed" src=<%= href %> frameborder="0" allowfullscreen></iframe></div>    
                </div>
                <div class="card-content">
              	 	<p><%= description %> </p>
              	 </div>
              	<div class="card-action">
                  <a href="https://www.youtube.com/channel/UCsCPC0CjOZy4CRuNMvQp-kQ"rel="nofollow" target="blank">Visit our Youtube Chanel</a>
                  </div>
          	</div>
        	</div>
        	

<!--
title
href
description
-->
