.business_idea_tool{
	.hidden{
		display: none; 
	}
	fieldset{
		margin-left: 30px;
		margin-right: 30px;
	}
	h1, h2, h3, h4, h5, h6{
		margin-left: 20px;
		margin-right: 20px;
	}
}
.progbar{
	margin-left: 30px;
	margin-right: 30px; 
}

